@import "settings.colors.scss";
@import "settings.fonts.scss";

header{
	position        :fixed;
	background-color: $colorWhite;
	width           :100%;
	height          :70px;
	top             :0; 
	padding         :0 70px 0 70px;
	box-sizing      : border-box;
	left            :0;
	z-index         :10;
	h1{
		display       : block;
		float         : left;
		font-size     : 18px;
		text-transform: uppercase;
		margin        : 0;
		line-height   : 70px; 
		position      :relative;
		padding       : 0 0 0 50px;
		span{
			font-weight: 100;
		}
		&:before{
			content            :" ";
			display            :block;
			width              :48px;
			height             :41px;
			background-color   : transparent;
			background-position: top left;
			background-repeat  :no-repeat;
			background-image   :url("../imgs/cocktail.io_logo.png");
			position           :absolute;
			top                :0;
			left               :0;
			bottom             :0;
			margin             :auto 0 auto 0;
		}
	}
	nav{
		display    :block;
		float      :right;
		line-height: 70px;
		line-height: 35px;
		ul{
			
			list-style: none;
			li{
				display:inline-block;
				a{
					color      :lighten( $colorBlack, 50% );
					font-size  :16px;
					transition : all 0.8s ease 0s;
					font-weight: bold;
					&:hover{
						color:$colorBlack;
					}
					&.highlight{
						padding     :10px 20px 10px 20px;
						border-width:2px;
						border-color:lighten( $colorBlack, 50% );
						border-style:solid;
						margin      :0 20px 0 0;
						&:hover{
							border-color:$colorBlack;
						}
					}

				} 
			}
		}
		&:after{
			content: '';
			display: block;
			clear  : both;
		}
	}	

}