<div>

    <header>
        <my-navbar></my-navbar>
    </header>

    <main>
        <section class="select-subcategory">
            <button
                ng-class="{subcategory: true}"
                ng-click="generator.changeState('lorem')"
            >
                texte
            </button>
            <button
                ng-class="{subcategory: true}"
                ng-click="generator.changeState('video')"
            >
                vidéo
            </button>
        </section>

        <text-generator  ng-show="generator.type === 'text'"></text-generator>
        <video-generator ng-show="generator.type === 'video'"></video-generator>

    </main>

</div>