<div>

    <header>
        <my-navbar></my-navbar>
    </header>

    <main class="skin-content">
        <section class="select-subcategory">
            <button class="subcategory" ng-click="generator.changeState('lorem')">texte</button>
            <button class="subcategory" ng-click="generator.changeState('video')">vidéo</button>
        </section>

        <text-generator ng-show="generator.type === 'text'"></text-generator>
        <video-generator ng-show="generator.type === 'video'"></video-generator>

    </main>

</div>