/*
 * Naming variable
 *
 * Start by naming the variable "$color" and add the name (camelCase) that you find here
 * http://www.color-blindness.com/color-name-hue/
 *
 * Examples :
 * - "darken( $base-color, 10% )"
 * - "lighten( $base-color, 10% )"
 *
 * - rgba( $color-alizarin-crimson, .7 )
 *
 *
 */


/*==========================================================================
White
========================================================================== */
$colorWhite  	 : #FFFFFF;
$colorWhiteSmoke : #F2F2F2;


/*==========================================================================
Black
========================================================================== */
$colorBlack : #000000;


/*==========================================================================
Blue
========================================================================== */
$colorPortage	 : #9690DE;
$colorCornFlower : #4C88F5;


/*==========================================================================
Orange
========================================================================== */
$colorCarrotOrange : #EF8115;


/*==========================================================================
Red
========================================================================== */
$colorFrenchRose : #F54C7C;


/*==========================================================================
Yellow
========================================================================== */
$colorEnergy : #F5D04C;


/*==========================================================================
Green
========================================================================== */
$colorCarrabean : #04BA9C;