<section class="content-subcategory">
    <div class="content parameters">
        <h3>paramètres</h3>
        <form>
        	<label class="label">Caractères
        	<input type="number" name="caracters-number" value="6" min="6" max="50" class="input" ng-model="vm.caracter"/></label>

            <label for="chkbox1" class="label">Chiffres
            <input type="checkbox" id="chkbox1" value="oui" class="input" ng-model="vm.number" /> </label>

            <label for="chkbox2" class="label">Lettres
            <input type="checkbox" id="chkbox2" value="non" class="input" ng-model="vm.letter" /> </label>

            <label for="chkbox3" class="label">Caractères spéciaux
            <input type="checkbox" id="chkbox3" value="la réponse D" class="input" ng-model="vm.special" /> </label>

            <input ng-click="vm.sendRequest()" type="submit" value="Générer" class="submit">
        </form>
    </div>

    <div class="content result">
        <h3>résultats</h3>
        <div ng-bind="vm.result"> </div>
    </div>
</section>