<md-dialog style="min-width: 60%; min-height: 50%;">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connexion</h2>
                <span flex></span>
                <i ng-click="vm.cancel()" class="fa fa-times" aria-hidden="true"></i>
            </div>
        </md-toolbar>

        <!-- Connection -->
        <div ng-show="vm.type === 1" align="center">

            <md-input-container syles="width:1000px;">
                <label>Email</label>
                <input ng-model="vm.email" type="email">
            </md-input-container><br/>

            <md-input-container>
                <label>Password</label>
                <input ng-model="vm.password" type="password">
            </md-input-container>

        </div>

        <!-- Inscription -->
        <div ng-show="vm.type === 2">
            <p>
                Inscription
            </p>
        </div>
    </md-content>
</md-dialog>

