<section class="content-subcategory">
    <div class="content parameters">
        <h3>paramètres</h3>
        <form>

        <label class="label">Nb de pseudonymes
            <input type="number" name="caracters-number" value="1" min="1" max="100" class="input" ng-model="vm.count"></label>

            <input ng-click="vm.sendRequest()" type="submit" value="Générer" class="submit"></label>
        </form>
    </div>

    <div class="content result">
        <h3>résultats</h3>
        <img src="./imgs/copy-paste.png" width="40px" align="right" style="position: absolute; top: 20px; right: 20px;" ngclipboard data-clipboard-target="#username"/>
        <div id="username" style="font-size: 15px;">
            <p ng-repeat="username in vm.result" ng-bind="::username"></p>
        </div>
</section>