<div>

    <header>
        <my-navbar></my-navbar>
    </header>

    <main class="theme-accounts">
        <section class="select-subcategory">
            <button class="subcategory" ng-click="generator.changeState('username')">Pseudonymes</button>
            <button class="subcategory" ng-click="generator.changeState('password')">Mots de passe</button>
        </section>

        <username-generator ng-show="generator.type === 'username'"></username-generator>
        <password-generator ng-show="generator.type === 'password'"></password-generator>

    </main>

</div>