.grid {
	position    : relative;
	margin      : 0 auto;
	list-style  : none;
	text-align  : center;
	overflow    : auto;
	padding-left: 5%;
}

/* Common style */
.grid figure {
	position  : relative;
	float     : left;
	overflow  : hidden;
	margin    : 10px 1%;
	width     : 360px;
	height    : 360px;
	background: #ffffff;
	text-align: center;
	cursor    : pointer;
	@include respond-to('large') {
	}
	@include respond-to('small') {
		width : 80%;
		float : none!important;
		margin: 20px auto 20px auto!important;
	}
}

.grid figure img {
	position  : relative;
	display   : block;
	min-height: 100%;
	max-width : 100%;
	opacity   : 0.8;
}

.grid figure figcaption {
	text-transform             : uppercase;
	font-size                  : 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility        : hidden;
	border-width               : 2px;
	border-style               : solid;
	&:before {
		position: absolute;
		top     : 0px;
		right   : 0px;
		bottom  : 0px;
		left    : 0px;
		content : '';
	}
	&.content{
		color 		: $colorPortage;
		border-color: $colorPortage;
		&:before{
			background-color: $colorPortage;
		};
	}
	&.accounts{
		
		color       : $colorCarrotOrange	;
		border-color: $colorCarrotOrange;
		&:before{
			background-color: $colorCarrotOrange;
		};
	} 
	&.html{
		color       : $colorFrenchRose	;
		border-color: $colorFrenchRose;
		&:before{
			background-color: $colorFrenchRose;
		};
	}
	&.databases{
		color       : $colorCarrabean;
		border-color: $colorCarrabean;
		&:before{
			background-color: $colorCarrabean;
		};
	}
	&.css{
		color       : $colorEnergy;
		border-color: $colorEnergy;
		&:before{
			background-color: $colorEnergy;
		};
	}
	&.back{
		color       : $colorCornFlower;	
		border-color: $colorCornFlower;
		&:before{
			background-color: $colorCornFlower;
		};
	}

	
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top     : 0;
	right   : 0;
	bottom  : 0;
	left    : 0;
	margin  : auto auto auto auto;
	width   : 80%;
	height  : 80%;
}

.grid figure figcaption > a {
	z-index    : 10;
	text-indent: 200%;
	white-space: nowrap;
	font-size  : 0;
	opacity    : 0;
}

.grid figure h2 {
	word-spacing  : -0.15em;
	font-weight   : 300;
	font-size     : 18px;
	text-transform: uppercase;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size     :16px;
}

.grid figure {
	float : left;
	margin: 1% 1% 1% 1%;
}
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration   : 0.8s;
	transition-duration        : 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property   : -moz-transform, opacity;
	transition-property        : transform, opacity;
}
/* Individual effects */
/*---------------*/
/***** Oscar *****/
/*---------------*/
figure.effect-oscar figcaption {
	background-color  : #ffffff;
	-webkit-transition: background-color 0.80s;
	transition        : background-color 0.80s;
}

figure.effect-oscar figcaption::before {
	position        : absolute;
	top             : 0px;
	right           : 0px;
	bottom          : 0px;
	left            : 0px;
	content         : '';
	background-color: $colorPortage;
}

figure.effect-oscar h2 {

	margin            : 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.80s;
	transition        : transform 0.80s;
	-webkit-transform : translate3d(0,100%,0);
	transform         : translate3d(0,100%,0);
	@include respond-to('small') {
		margin: 10% 0 10px 0;
	}
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity           : 0;
	-webkit-transition: opacity 0.80s, -webkit-transform 0.80s;
	transition        : opacity 0.80s, transform 0.80s;
	-webkit-transform : scale(0);
	transform         : scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform        : translate3d(0,0,0);
	color            : white;
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity          : 1;
	-webkit-transform: scale(1);
	transform        : scale(1);
	color            : white;
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}